.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2px;
  border: solid 2px black;
  width: min-content;
}

.tetris-field {
  margin-right: 40px;
}

.field-wrapper {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min-content;
}

.next-figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2px;
  border: solid 2px black;
  width: min-content;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.controllers {
  width: 400px;
  margin: 0 auto;
}

main {
  position: relative;
}

.game-over {
  position: absolute;
  top: 100px;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 54px;
  font-family: Impact;
  font-weight: 900;
  left: 0;
  right: 0;
}